{% extends 'base.html' %}
<!DOCTYPE html>

{% block content %}
{% load static %}
<html lang="en" >
    <head>
        <meta charset="UTF-8">
    <title>products</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/fontawesome.min.css" integrity="sha512-OdEXQYCOldjqUEsuMKsZRj93Ht23QRlhIb8E/X0sbwZhme8eUw6g8q7AdxGJKakcBbv7+/PX0Gc2btf7Ru8cZA==" crossorigin="anonymous" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" />
        <script type="text/javascript">
              (function($) { // Begin jQuery
                $(function() { // DOM ready
                  // If a link has a dropdown, add sub menu toggle.
                  $('nav ul li a:not(:only-child)').click(function(e) {
                      $(this).siblings('.nav-dropdown').toggle();
                      // Close one dropdown when selecting another
                      $('.nav-dropdown').not($(this).siblings()).hide();
                      e.stopPropagation();
                    });
          // Clicking away from dropdown will remove the dropdown class
          $('html').click(function() {
            $('.nav-dropdown').hide();
          });
          // Toggle open and close nav styles on click
          $('#nav-toggle').click(function() {
              $('nav ul').slideToggle();
            });
            // Hamburger to X toggle
            $('#nav-toggle').on('click', function() {
            this.classList.toggle('active');
        });
    }); // end DOM ready
})(jQuery); // end jQuery
      </script>
      
  
    </head>
    <body style="background-image:url(https://images.unsplash.com/photo-1605447813584-26aeb3f8e6ae?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80);
    background-size: cover; background-attachment:fixed;" class='b'>
    
    {% load cart %}
    
  <section class="navigation" style="margin:0 auto; padding-right:50px;">
      <div class="nav-container" style="margin:0 auto;">
          <div class="brand" style="color:white; padding-left:10px;">
              <a >PRODUCTS</a>
          </div>
          <nav>
              <div class="nav-mobile">
                  <a id="nav-toggle" href="#!"><span></span></a>
              </div>
              <ul class="nav-list">
                  <!-- Setting the links to #! will ensure that no action takes place on click. -->
                  {% if user.is_authenticated %}
                  <li><a href="/">Home</a></li>
                  <li class="user"><a href="#">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                          <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                      </svg>
                      {{user.username}}</a></li>
                  <li><a href="cart">My Cart
                      <span class="badge bg-light text-dark">
                          {{request.session.cart.keys|length}}</span>
                  </a></li>
                  
                  <li><a href="/logout" >Log out</a></li>
                  {% endif %}
                  <li><a href="/about-us">About</a></li>
                  <li><a href="#">All</a>
                    <ul class="nav-dropdown">
                        <li><a href="/products?categorie=10">All</a></li>
                        {% for categorie in categories %}
                        <li><a href="/products?categorie={{categorie.id}}">{{categorie.name}}</a></li>
                        {% endfor %}
                    </ul>
                </li>
              </ul>
          </nav>
      </div>
  </section>


  <div class="row" style="padding: 50px">
      {% for product in products %}
      <div class="col"  >
          <div class="card"
              style="width: 18rem; border-radius: 1.5rem; font-size: 20px; font-family: Comic Sans MS; margin-top: 60px; outline: none; border: none; color:white;background-color:black;" id={{product.id}}>
              <img src="{{ product.image_url }}" class="card-img-top" alt="..."
                  style="width: 18 rem;height: 14rem;border-radius: 1.5rem">

              <div class="card-body" >
                  <h5 class="card-title">{{ product.name }}</h5>
                  <p class="card-text">&#8377 {{ product.price }}/kg</p>


              </div>

              <div class="card-footer row no-gutters"
                  style="background: none; outline: none; border: none; padding: 20px">
                  {% if product|is_in_cart:request.session.cart %}
                  <div class="row" >

                      <form action="/products/#{{product.id}}" method="post" class="col-2">
                          {% csrf_token %}
                          <input type="text" value="{{ product.id }}" hidden name="product">
                          <input type="text" value="True" hidden name="remove">
                          <input type="submit" value=" - " class="btn btn-block"
                                style="background: linear-gradient(to right, #03571e, #7ded33); border-radius: 20px; outline: none; border: none; color: white;
                                              font-size: 15px">
                      </form>

                      <div class="text-center col">
                          {{product|count:request.session.cart}} in cart
                      </div>

                      <form action="/products/#{{product.id}}" method="post" class="col-2">
                          {% csrf_token %}
                          <input type="text" value="{{ product.id }}" hidden name="product">
                          <input type="submit" value=" + " class="btn btn-block"
                                style="background: linear-gradient(to right, #03571e, #7ded33); border-radius: 20px; outline: none; border: none; color: white;
                                              font-size: 15px">
                      </form>

                  </div>
                  {% else %}
                  <form action="/products/#{{product.id}}" method="post">
                      {% csrf_token %}
                      <input type="text" value="{{ product.id }}" hidden name="product">

                      <button class="btn btn-primary"
                              style="background: linear-gradient(to right, #03571e, #7ded33); border-radius: 20px; outline: none; border: none; width: 100%;"
                              type="submit" >Add to Cart</button>


                  </form>
                  {% endif %}

              </div>



          </div>
      </div>
      {% endfor %}

  </div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-tilt/1.4.1/vanilla-tilt.min.js">
  </script>

  <script>
          VanillaTilt.init(document.querySelectorAll(".card"), {
              max: 70,
              speed: 400,
              "mouse-event-element":true,

            });
  </script>
  <div class="scrollspy">
    <button id="scrollToTopButton" aria-label="Scroll to Top" style="width:inherit;opacity:0.75;">&#8593 Scroll Up &#8593;</button>
    <!-- Add your content here -->
  </div>

  <!-- Add more sections as needed -->

  <div id="top"></div> <!-- Anchor point for scrolling to the top -->

  <script>
    document.addEventListener("DOMContentLoaded", function () {
        const scrollToTopButton = document.getElementById("scrollToTopButton");

        scrollToTopButton.addEventListener("click", function () {
            scrollToTop();
        });

        function scrollToTop() {
            window.scrollTo({
                top: 0,
                behavior: "smooth" // Smooth scrolling animation
            });
        }
    });
  </script>




  {% endblock %}
</body>
</html>